
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hakkimizda sayfasıda burası oldu bunu önce defaukltda acrionresult hakkımızda ekledik onun içine de view eklwsikkk</h2>

